/* start page block*/
h1 {
    font-family: Roboto, Arial, serif;
    font-size: 20pt;
}

.header {
    background-color: hsl(100, 50%, 50%);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.body__wrapper {
    display: grid;
    grid-template-columns: 20% 80%;
}

.body-block {
    display: flex;
    flex-direction: row;
}

.body-block__left-part {
    width: fit-content;
    min-width: 20%;
    margin-right: 15px;
    margin-top: 15px;
}

.body-block__right-part {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* end page block*/
/* start resume */
.resumes {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    justify-content: space-evenly;
    margin-top: 10px;
}

.resume {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    /*flex-direction: row;*/

    border: solid 4px hsl(100, 50%, 50%);
    min-width: 400px;
    min-height: 50px;
    width: fit-content;
    height: fit-content;

}

.resume__buttons__button {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 40px;
}

.resume__buttons {
    display: flex;
    justify-content: end;
    width: 100%;
}

.button__delete:hover {
    background-color: crimson;
    color: white;
}

.button__detail:hover {
    background-color: cornflowerblue;
    color: white;
}

.resume__photo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.resume__string-data {
    display: flex;
    gap: 10px;
    flex-direction: column;
    justify-content: space-around;
    margin-left: 10px;
}

.resumes__photo__img {
    width: 128px;
    height: 128px;
}

/* end resume */
/* start menu block */
.menu {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.menu__block {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 2px;
    border: solid 2px hsl(100, 50%, 50%);

}

.menu a:link {
    color: #000;
    text-decoration: none;
}

.menu a:visited {
    color: #000;
    text-decoration: none;
}

.menu a:hover {
    color: #000;
    text-decoration: none;
}

.menu a:active {
    color: #000;
    text-decoration: none;
}
/* end menu block */

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

.resume__add {
    display: flex;
    flex-direction: column;
    gap: 3px;
    justify-content: center;
    align-items: center;
}

.resume__add__form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    border: solid 2px hsl(100, 50%, 50%);
}

.resume__add__form__block:first-of-type {
    margin-top: 5px;
}


.resume__add__form__block {
    margin: 0 5px;
    display: grid;
    grid-template-columns: 40% 60%;
}

.resume__add__form__block__submit {
    display: flex;
    justify-content: center;
    align-items: center;
}
#submit {
    border: none;
    background: none;
    width: 100%;
}

#submit:hover {
    background-color: hsl(100, 50%, 50%);
}
